In [2]:
import pandas as pd

In [3]:
data_technology = pd.read_json('tweets_technology.json', lines = True)
data_technology.sort_values('text',inplace=True)
data_technology.drop_duplicates(subset='text',keep = False, inplace=True)
data_technology = data_technology.sample(frac = 0.51)
data_technology.shape

(4699, 38)

In [4]:
data_sports = pd.read_json('tweets_sports.json', lines = True)
data_sports.sort_values('text',inplace=True)
data_sports.drop_duplicates(subset='text',keep = False, inplace=True)
data_sports.shape

(4768, 37)

In [5]:
data_entertainment = pd.read_json('tweets_entertainment.json', lines = True)
data_entertainment.sort_values('text',inplace=True)
data_entertainment.drop_duplicates(subset='text',keep = False, inplace=True)
data_entertainment.shape

(4675, 36)

In [6]:
data_education = pd.read_json('tweets_education.json', lines = True)
data_education.sort_values('text',inplace=True)
data_education.drop_duplicates(subset='text',keep = False, inplace=True)
data_education.shape

(4536, 37)

In [7]:
data_politics = pd.read_json('tweets_politics.json', lines = True)
data_politics.sort_values('text',inplace=True)
data_politics.drop_duplicates(subset='text',keep = False, inplace=True)
data_politics.shape

(4469, 37)

In [8]:
df_technology = pd.DataFrame()
df_technology['id'] = data_technology['id']
df_technology['class'] = 'technology'
df_technology['text'] = data_technology['text']

df_sports = pd.DataFrame()
df_sports['id'] = data_sports['id']
df_sports['class'] = 'sports'
df_sports['text'] = data_sports['text']

df_entertainment = pd.DataFrame()
df_entertainment['id'] = data_entertainment['id']
df_entertainment['class'] = 'entertainment'
df_entertainment['text'] = data_entertainment['text']

df_education = pd.DataFrame()
df_education['id'] = data_education['id']
df_education['class'] = 'education'
df_education['text'] = data_education['text']

df_politics = pd.DataFrame()
df_politics['id'] = data_politics['id']
df_politics['class'] = 'politics'
df_politics['text'] = data_politics['text']

In [9]:
frames = [df_politics, df_technology, df_education, df_entertainment, df_sports]

df = pd.concat(frames)

df = df.sample(frac = 1)

df.shape

#df.to_csv('Tweet_dataset_new.csv',index=False)

(23147, 3)

In [12]:
df = df[df['text'].str.split().str.len().gt(4)]

In [13]:
df.shape

(22233, 3)

In [14]:
df

,id,class,text
6053,1.373182e+18,education,"RT @talkRADIO: Chris McGovern, from the Campai..."
9959,1.372867e+18,sports,@ChelseaFC The two times I taped it it was bay...
12173,1.372975e+18,entertainment,@iSTRAWT4E RM WE ARE SO PROUD OF YOU \n#RMixta...
19797,1.373323e+18,politics,The revelation comes days after the former ass...
3071,1.371342e+18,education,RT @JkLatestUpdates: [AICTE ]\n.\n.\n&gt;&gt; ...
...,...,...,...
1156,1.361949e+18,sports,Morning Owls fans - have a great day today üëç\n...
14002,1.372933e+18,technology,We've just posted a new blog: 2021 Spring | Su...
3272,1.370269e+18,sports,Friday 12 pm 6th sense saying \nIndia will be ...
8397,1.372941e+18,technology,#CryptoNews: Cryptocurrency exchange LATOKEN r...
6333,1.372622e+18,politics,RT @WhiteSammy_: How it came in and How it lef...